.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#add-contact-btn {
  margin-left: 20px;
}

#add-contact-link {
  color: #fff;
}

.contact-list {
  max-width: 500px;
  margin: 20px 5px;
}

.contact-actions{
  float: right;
}

.contact-container {
  max-width: 600px;
  margin: 20px;
}

.add-form {
  margin: 5px;
}

.add-form-buttons {
  margin-right: 10px;
}

#back-home-button {
  margin-top: 20px;  
}

.contact-info {
  max-width: 400px;
  margin: 20px;
}
